

@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<InternetRadio.Models.WebRadio>


    <div class="text-center m-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td colspan="2">@Html.DropDownList("Radios", new SelectList(Model.Select(x => new { Value = x.Url, Text = x.Name }), "Value", "Text"))</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>




